<nav class="navbar">
  <div class="navbar-left-container">
    <div class="navbar-logo">
      Bookmania
    </div>
    <form class="navbar-form">
      <input class="navbar-search">
      <mat-icon class="search-icon">search</mat-icon>
    </form>
  </div>

  <div class="navbar-shopping-cart">
    <span class="product-number">1</span>
    <mat-icon class="cart-icon">shopping_cart</mat-icon>
    <div class="right-cart-container">
      <p class="cart">My cart  <mat-icon class="arrow-icon">arrow_drop_down</mat-icon></p>

    </div>
  </div>
</nav>
