<div class="book-card">
  <div class="img-container">
    <img class="book-img" src="https://cdn.pixabay.com/photo/2017/02/20/18/03/cat-2083492__340.jpg" alt="">
  </div>
  <div class="book-details">
    <h3>Game of Thrones</h3>
    <p>Price: <span class="detail">3.45$</span></p>
    <p>Authors: <span class="detail">Ionut Gabriel</span></p>
    <p>Pages:  <span class="detail">384</span></p>
    <p>Year: <span class="detail">2018</span></p>
    <p>Rating: <span class="detail">5</span> 	<mat-icon class="star-icon">star</mat-icon></p>
  </div>
</div>
